html {
    height: 100%;
    width: 100%;
  }
  
  body {
    padding-top: 0px !important;
    font-weight: 100;
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
#site-header{
    border-bottom: 1px solid #eee;
    height: 80px;
    color: #444;
    width: 100%;
    background: #ffffff;
}

  header {
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    background: rgba(0, 85, 221, 0.322);
    color: white;
  }
  
  header h1 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  navigation {
    width: 980px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  navigation ul {
    width: 980px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  navigation ul li {
    display: inline;
    margin-right: 1em;
  }
  
  #content {
    width: 920px;
    min-height: 500px;
    padding: 0 30px;
  }
  
  footer {
    font-weight: 100;
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    margin: 55px 0 0 0;
    background: linear-gradient(-90deg, #345, #24BBCD);
    color: #fff;
    bottom: 0;
  }
  
  /* Actions */
  
  .actions {
    margin-bottom: 1em;
  }
  
  
  /* Lists */
  
  table {
    border-collapse: collapse;
    vertical-align: top;
  }
  
  table.list {
    width: 100%;
  }
  
  table.list tr td {
    font-size: 12px;
    text-align: left;
    padding: 6px;
    border: 1px solid #EEE;
    font-family: sans-serif;
  }

  tr{
    background: #fff;
  }
  
  table.list tr th {
    font-size: 10px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: rgba(65, 66, 64, 0.048);
    color:#333;
    text-align: left;
  }
  
  /* Forms */
  
  dl {
    clear: both;
    overflow: hidden;
    margin: 0.5em 0;
  }
  
  dt {
    float: left;
    font-weight: bold;
    width: 125px;
  }
  
  dd {
    float: left;
    margin-left: 1em;
  }
  
  #operations {
    clear: both;
    margin: 1em 0 1em 75px;
  }
  
  /* Errors */
  
  .errors {
    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin-bottom: 1em;
  }
  
  .errors ul {
    margin-bottom: 0;
    padding-left: 1em;
  }

  .container{
    width: 80%;
    margin: 0 auto;
    min-height: 800px;
}

 .container h3{
    margin: 0 !important;
    font-size: 16px;
    color: #888888;
    font-family: sans-serif;
    font-weight: 100;
    border: solid 2px #999;
    padding: 13px;
  }

  .page-heading{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    background: #eeeeee;
}

#logo{
    padding: 0px;
    margin-left: 10px;
    float: left;
    width: 201px;
}
#logo h1{
    font-family: 'Gloria Hallelujah', cursive !important;
    font-size: 24px !important;
    padding-left: 5px !important;
    border: solid 1px #eee;
    border-radius: 5px;
}



    


tbody{
  font-family: sans-serif;
  font-size: 14px;
}

h2{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.action img:hover{
  width:29px;
}

div #new_calls{
    font-family: monospace;
    font-size: 16px;
    color: green;
}

#current_date{
  padding: 20px;
  float: right;  
  cursor: progress;
}

#current_user{
  padding: 12px;
  float: right;
  cursor: progress;
}

#admin_menu{
  background: #eee;
}

.admin_features_view{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 300px;
    background: #eee;
}

.search{
  padding: 10px; 
}

.quick_data_view{
  padding: 10px;
  float: right;
}


#widget_name{
  font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.widget_table, tbody, tr, td{
  padding: 10px;
}

.form_process_order input[type=text], input[type=Date], select{
  width: 200px !important;
  
}

.list td input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.list td input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 10px;
  resize: vertical;
}

#order_table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; 
}

#order_table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#order_table tr:nth-child(even) {
  background-color: #dddddd;
}

#logout{
    float: right;
    padding: 20px;
}

#logout:hover{
  background: #333333;
}

#logout a:hover{
  color: #fff;
}

#logout a{
  text-decoration: none;
  color: #888;
}

#right-header{
  padding: 10px;
  width: 70%;
  float: right;
}

#right-header div{
    margin: 2px;
    border: 1px solid #ccc;
}

#measurement select{
  float: left;
  width: 35% !important;
}

#measurement input[type=number]{
  float: right;
  width: 63% !important;
}

#price_table_uploads{
width:80%;
margin: 0 auto;
}


#csv_upload_success{
    color: #fff;
    background: #CBF744;
    padding: 10px;
}

.styled-select.slate {
   height: 34px;
   width: 240px;
}

#userimage{
    border: none !important;
    float: left;
}

#username{
    border: none !important;
    float: right;
    overflow: hidden;
}
#username p{
    margin: 0;
    padding: 6px;
}




