html {
    height: 100%;
    width: 100%;
  }
  
  body {
    padding-top: 0px !important;
    font-weight: 100;
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
#site-header{
    color: #fff;
    width: 100%;
    background: linear-gradient(-90deg, #345, #24BBCD);
}

  header {
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    background: rgba(0, 85, 221, 0.322);
    color: white;
  }
  
  header h1 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  navigation {
    width: 980px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  navigation ul {
    width: 980px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  navigation ul li {
    display: inline;
    margin-right: 1em;
  }
  
  #content {
    width: 920px;
    min-height: 500px;
    padding: 0 30px;
  }
  
  footer {
    font-weight: 100;
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    margin: 55px 0 0 0;
    background: linear-gradient(-90deg, #345, #24BBCD);
    color: #fff;
    bottom: 0;
  }
  
  /* Actions */
  
  .actions {
    margin-bottom: 1em;
  }
  
  
  /* Lists */
  
  table {
    border-collapse: collapse;
    vertical-align: top;
  }
  
  table.list {
    width: 100%;
  }
  
  table.list tr td {
    font-size: 12px;
    text-align: left;
    padding: 6px;
    border: 1px solid #EEE;
    font-family: sans-serif;
  }

  tr{
    background: #fff;
  }
  
  table.list tr th {
    font-size: 10px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: rgba(65, 66, 64, 0.048);
    color:#333;
    text-align: left;
  }
  
  /* Forms */
  
  dl {
    clear: both;
    overflow: hidden;
    margin: 0.5em 0;
  }
  
  dt {
    float: left;
    font-weight: bold;
    width: 125px;
  }
  
  dd {
    float: left;
    margin-left: 1em;
  }
  
  #operations {
    clear: both;
    margin: 1em 0 1em 75px;
  }
  
  /* Errors */
  
  .errors {
    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin-bottom: 1em;
  }
  
  .errors ul {
    margin-bottom: 0;
    padding-left: 1em;
  }

  .container{
    width: 80%;
    margin: 0 auto;
    min-height: 800px;
}

 .container h3{
  margin-top: 0 !important;
  padding: 20px;
  color: #666;
    font-family: sans-serif;
    font-weight: 400;
  }

  .page-heading{
  background: linear-gradient(-90deg, #666 0, #eee 100%);
}

#logo{
    padding: 20px;
    font-family: sans-serif;
    font-size: 32px;
}

#admin_menu{
 
}

.div_menu{
  width: 30%;
  float: left;
}
.nav_menu{
  margin: 0 auto;
  width: 90%;
}

.nav_menu ul{
  list-style: none;
}

.nav_menu ul li a{
 text-decoration: none;
}
    


tbody{
  font-family: sans-serif;
  font-size: 14px;
}

h2{
  font-family: sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.action img:hover{
  width:29px;
}

div #new_calls{
    font-family: monospace;
    font-size: 16px;
    color: green;
}

#current_date{
    float: right;
    color: #eee;
    font-family: monospace;
    font-weight: 100;
    font-size: 14px;
}


  